/* --------------------------------------------------------------
 /* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
 -------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
 /* WordPress Core
 -------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
 /* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
 -------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
 Variables
 -------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Theme commons
 -------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}
/* Theme commons
 -------------------------------------------------------------- */
@import 'less/layouts.less';

/* --------------------------------------------------------------
 Body default
 -------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 30px;

    & .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { color: #0032a0; }
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

/* THE HEADER */
.the-header {
    border-top: 4px solid #053390;
    border-bottom: 2px solid #e1e1e1;
    background-image: url(../images/menu-bg.png);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    z-index: 100 !important;

    & .img-logo { margin-top: -5px; }
}

.the-navbar {
    position: relative;

    & .navbar-default {
        background: none transparent;
        box-shadow: none;
        margin-bottom: 0;
        border: 0;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        letter-spacing: 0.3px;

        & .navbar-nav {
            & li {
                border-image: url(../images/menu-sep.png) 0 2 0 0 stretch;
                border-style: solid;
                border-width: 0px 2px 0px 0px;

                & a {
                    padding-top: 25px;
                    padding-bottom: 30px;
                    border-top: 4px solid transparent;
                    color: #0032a0;

                    &:hover {
                        background: none #DDDDDD !important;
                        box-shadow: none !important;
                        border-top: 4px solid #0032a0;
                    }
                }

                &:last-child { border-width: 0px 0px 0px 0px; }
            }

            & .active {
                & a {
                    background: none transparent !important;
                    box-shadow: none !important;
                    border-top: 4px solid #0032a0;
                }
            }

            & .dropdown-menu {
                background: #f1f1f1;
                padding: 0 !important;

                & li {
                    border-image: none;
                    border-style: solid;
                    border-width: 0px 0px 0px 0px;

                    & a {
                        padding: 5px 10px;
                        border-bottom: 1px solid #c1c1c1;

                        &:hover {
                            background: none #aaaaaa !important;
                            box-shadow: none !important;
                            border-top: 4px solid transparent !important;
                        }
                    }
                }
            }
        }
    }
}

/* GENERAL STYLES */
.main-title-container {
    background: #002e9b;
    background: -moz-linear-gradient(top, #002e9b 0%, #001574 100%);
    background: -webkit-linear-gradient(top, #002e9b 0%,#001574 100%);
    background: linear-gradient(to bottom, #002e9b 0%,#001574 100%);
    padding: 30px 0px;

    & h1 {
        font-size: 24px;
        color: #FFF;
        font-weight: 700;
        margin: 0;
    }
}

.the-breadcrumbs {
    & .breadcrumb {
        padding: 0;
        margin-bottom: 0;
        background: none;
        text-align: right;
        font-size: 10px;
        color: #FFF;
        margin-top: 8px;

        & a { color: #fff; }

        & .active { color: #dedede; }
    }
}

.main-banner-container {
    height: 245px;
    background-position: center center !important;
    margin-bottom: 20px;
}

.custom-collapse {
    width: 100% !important;
    display: block;
    border-bottom: 1px solid #002389;
    padding-bottom: 5px;
}

.custom-collapse-caret {
    font-size: 13px;
    background: #F15C22;
    padding: 0px 4px;
    margin-right: 7px;
    color: #FFF;
    .transform(rotate(24.5deg));
    .transition(all .3s ease-in-out);
}

.collapsed {
    & .custom-collapse-caret {
        background: #42A1FF;
        .transition(all .3s ease-in-out);
    }
}

.custom-collapse-title {
    font-size: 13px;
    display: inline-block;
    color: #999;
    font-weight: 400;
    width: 95%;
}

.custom-collapse-container {
    padding: 20px 0;
    border-bottom: 1px solid #002389;
}

.the-single {
    padding-bottom: 20px;

    & ul {
        padding-left: 10px;
        list-style: none;

        & li {
            padding-bottom: 5px;

            &:before {
                content: ' ';
                display: inline-block;
                background-color: none;
                background-image: url(../images/bullet.png);
                background-repeat: no-repeat;
                background-position: center center;
                height: 18px;
                width: 18px;
                float: left;
                margin-right: 0;
                margin-right: 9px !important;
            }

            & ul {
                padding-left: 5%;
                list-style: circle;

                & li {
                    &:before {
                        content: '';
                        display: none !important;
                    }
                }
            }
        }
    }
}

.the-sidebar { padding-bottom: 25px; }

/* FOOTER */
.the-footer {
    border-top: 1px solid #88c0d2;
    background: #002f9c;
    padding-top: 43px !important;
    padding-bottom: 40px !important;
    color: #FFF;

    & h1, h2, h3, h4, h5, h6 { color: #FFF; }

    & .footer-title {
        font-size: 13px;
        letter-spacing: -.5px;
        border-bottom: 1px solid #00b6f0;
        padding-bottom: 5px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    & .footer-item {
        line-height: 12px;
        font-size: 13px;

        & .media {
            padding-bottom: 10px;
            border-bottom: 1px dashed #00b6f0;
        }

        & .media-object {
            display: block;
            max-width: 60px;
            height: auto;
        }

        & .media-heading {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 600;
        }

        & a {
            color: #00b4f0;
            font-weight: 600;
        }

        & .rotatingtweet {
            font-size: 14px !important;
            line-height: 20px !important;
        }

        & .cff-likebox { margin: 0 !important; }
    }
}

.the-footer-copyright {
    padding: 5px 0;

    & .footer-copy-container {
        & h6 {
            line-height: 18px;
            color: #000000;
            font-weight: 300;
            font-size: 11px;
            margin: 0;
        }

        & a { color: #454545; }
    }

    & .footer-copy-social {
        text-align: right;
        font-size: 35px;
        padding-top: 7px;

        & a { color: #000; }

        & .fa { padding-left: 25px; }
    }
}

/* INICIO */
.the-about {
    padding: 20px 0;
    text-align: center;

    & .home-title {
        color: #cecece;
        margin-bottom: 50px;

        & strong { color: #0032a0; }
    }
}

.about-item {
    text-align: center;

    & img { display: inline-block; }

    & h3 { font-size: 20px; }
}

.form-custom-control {
    border-radius: 0;
    margin-bottom: 12px;
    font-size: 13px;
}

.wpcf7-submit {
    background: #002b94;
    color: #fff !important;
    background-image: linear-gradient(top, #0041c3 0%, #002b94 100%);
    background-image: -o-linear-gradient(top, #0041c3 0%, #002b94 100%);
    background-image: -moz-linear-gradient(top, #0041c3 0%, #002b94 100%);
    background-image: -webkit-linear-gradient(top, #0041c3 0%, #002b94 100%);
    background-image: -ms-linear-gradient(top, #0041c3 0%, #002b94 100%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #0041c3), color-stop(1, #002b94) );
    border: 1px solid #002b94;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px 15px;
    letter-spacing: -.5px;
}

.the-sidebar-contact {
    & .fa {
        font-size: 23px;
        padding-right: 10px;
        color: #747474;
    }
}

.news-container { padding-top: 25px; }

.archive-item {
    padding-bottom: 30px;

    & h2 {
        font-size: 23px;
        font-weight: 400;
        letter-spacing: -0.3px;
    }
}

.archive-item-data {
    border-top: 1px solid #0032a0;
    border-bottom: 1px solid #0032a0;
    font-size: 15px;

    & span {
        border-left: 1px solid black;
        padding-right: 5px;
        padding-left: 10px;

        &:nth-child(1) {
            padding-left: 0;
            border-left: 0;
        }

        &:nth-child(2) { font-weight: 300; }
    }

    & .more-info {
        float: right;
        border-left: 0 !important;
    }
}

.archive-item-picture {
    & img { width: 100%; }
}

.archive-sidebar {
    line-height: 20px;

    & ul {
        list-style: none;
        padding-left: 0;
    }

    & .widgettitle { font-size: 20px; }
}

.footer-social {
    font-size: 20px;
    text-align: right;

    & a {
        padding-left: 10px;
        color: #000;
    }
}

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.flag-ve {
    & a {
        position: relative;
        color: #fbfbfb !important;
        padding-right: 23px;

        &:hover { color: #DDDDDD !important; }

        &:before {
            position: absolute;
            width: 30px;
            height: 20px;
            top: 33%;
            left: 20%;
            content: ' ';
            background: url(../images/ve.png);
        }
    }
}

.custom-search-container {
    position: absolute;
    bottom: -50px;
    right: 25px;
    background: #0032a0;
    width: 270px;
    padding: 10px;
    .transition(all .3 ease-in-out);

    & button {
        background: #f15a21;
        color: #FFF;
        border: 1px solid #f15a21;
    }

    &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #0032a0;
        position: absolute;
        top: -12px;
        right: 12px;
    }
}

.custom-search-hidden {
    opacity: 0;
    z-index: -1;
}

.custom-search-shown {
    opacity: 1;
    z-index: 100;
}
